* {
  padding: 0;
  margin: 0;
}

.display {
  height: 100vh;
  overflow: hidden;
  font-size: 10rem;
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#count {
  font-size: 15rem;
}

#expiry {
  font-size: 8rem;
}
