* {
  padding: 0;
  margin: 0;
}

/* body {
  background-color: black;
} */

body {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.display {
  height: 100vh;
  overflow: hidden;
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#count {
  font-family: "Iceberg", cursive;
  font-size: 15rem;
  color: #ccc;
}

#expiry {
  font-family: "Iceland", cursive;
  font-size: 8rem;
  color: #888;
}

@media screen and (max-width: 990px) {
  body {
    background 
  }
}

@media screen and (max-width: 990px) {
  body {
    background: none;
    background-color: black;
  }

  #count {
    font-size: 8rem;
  }
  #expiry {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: none;
    background-color: #333;
  }

  #count {
    font-size: 4rem;
  }
  #expiry {
    font-size: 3rem;
  }
}